<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login IFB</title>
    <link rel="stylesheet" href="../public/stylesheet/style.css">
</head>
<body >
 <img src="../public/images/ifb.jpg" width="10%">
    <div >
        <form action="" method="post">
        <label>Usuário</label>
        <input type="text" placeholder="Digite usuario..." id="usuario" required>
        <label>Senha</label>
        <input type="password" placeholder="Digite a senha..." id="senha" required>
            <br><br>
        <input type="submit" value="Enviar" id="botao">
        </form>
    </div>
    <script src="../public/javascript/login.js"></script>
</body>
</html>