<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de compras</title>
    <link rel="stylesheet" href="../public/stylesheet/style.css">
      
</head>
<body>
 <div>
    <h2>Listas de compras</h2>
    <table id="minhaTabela">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantidade</th>                             
            </tr>
        </thead>
        <tbody>           
        </tbody>
    </table>

   <br>
    <input type="text" id="item" placeholder="Item">
    <input type="number" id="quantidade" placeholder="Quantidade">
    <button id="btnAdicionar">Adicionar Linha</button>
   </div>
    

    <script src="../public/javascript/script.js"></script>

</body>
</html>